{% extends "base.html" %}
{% block title %}Student Details{% endblock %}
{% block content %}
    <div class="row ml-2 mt-3">
    <div class="col-sm-2  ">
    <a href="{% url 'add_course' %}"> Add Course</a>
    </div>
    <div class="col-sm-2 ">
        <a href="{% url 'add_section' %}">Add Section</a>
    </div >
    <div class="col-sm-2  ">
        <a href="{%  url 'add_students' %}">Add Students</a>
    </div>
     <div class="col-sm-2  ">
        <a href="{%  url 'add_test' %}">Add Test</a>
    </div>
     <div class="col-sm-2">
        <a href="{%  url 'add_club' %}">Add Clubs</a>
    </div>
     <div class="col-sm-2">
        <a href="{%  url 'add_student_test' %}">Course Section</a>
    </div>
    </div>
    {% for student in all_students_data %}

        <div class="card border-primary mb-3 mt-4" style="max-width: 85rem;">
        <div class="card-header">{{ student.first_name }}</div>
        <div class="card-group">
            <div class="col-sm-4">

        <div class="card ml-2 mt-4 mb-4">
            <img class="card-img-top " src="{{ MEDIA_URL }}{{ student.photo.url }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Details
            </div>
        </div>
            </div>


            <div class="col-sm-8">
        <div class="card border-primary mb-3 mt-4 mr-2" >
            <div class="card-body text-primary">
                <div class="border border-succes mb-2">
                <h5 class="card-title">Students Information</h5>
                    </div>
                <h6>First Name: {{ student.first_name }}</h6>
                <h6>Last Name: {{ student.last_name }}</h6>
                <h6>Address: {{ student.address }}</h6>
            </div>
        </div>
                </div>
        </div>
        </div>




    {% endfor %}
{% endblock %}
